.airline-cell{
    margin: 20px;
    text-align: center;
    border: 1px;
    border-color: black;
    border-style: solid;
}

.img-responsive{
    display: block;
  max-height:200px;
  width: auto;
  height: auto;
}